# Banco de dados (SQLite para desenvolvimento, PostgreSQL para produção)
DATABASE_URL="file:./dev.db"
# DATABASE_URL="postgresql://user:password@localhost:5432/command_analytics"

# JWT Secret (troque para uma string aleatória longa em produção)
JWT_SECRET="command-analytics-secret-2026-troque-em-producao"

# Porta da API
PORT=3333

# Ambiente
NODE_ENV=development
